@model RenoshopBee.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="landing">
    <div class="container d-flex h-100 justify-content-flex-start align-items-center">
        <div class="landing-text w-50 text-center text-md-start">
            <h2 class="fw-bold text-secondary text-uppercase fs-1">
                The best <span class="d-block text-primary">Fashion Ecommerce</span>
            </h2>
            <p class="text-white-50">
               This is the best Fashion Ecommerce
                For Clothes, jewelries and Accessories
                Hope You Enjoy our Website
            </p>
            <p>@(ViewBag.ItemExist) das</p>
            <button class="btn btn-primary text-uppercase py-2 px-3">Buy now</button>
        </div>
    </div>
</section>
<!--End landing-->
<!--Start BestSelling-->
<section class="best-selling py-5">
    <div class="container-fluid d-flex justify-content-center align-items-center row mx-auto">
        <div class="best-sellers col-lg-3 text-center text-lg-left pb-4 pb-lg-0">
            <h3 class="text-uppercase fw-bold">best sellers</h3>
            <span class="text-primary">The best productions from us</span>
            <p class="mt-4 text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aperiam,
                eveniet cum odio.
            </p>
        </div>
        
        <div class="row col-lg-9">
            @foreach (var item in Model.products)
            {
                    <a asp-controller="Products" style="text-decoration:none;color:black;" asp-action="Details" asp-route-id=@item.ID class="product-card col-md-6 col-lg-4">
                    <div class="product-img">
                        <img class="img-fluid" src="@item.Img_url" alt="product">
                        <div class="product-buttons">
                            <form method="post">
                                <button asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ID" type="submit" class="add-to-cart">
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                            </form>
                            <form method="post" id="wishlistbtn" >
                                <button asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-productId="@item.ID" type="submit" class="add-to-wishlist">
                                    <i class="fas fa-heart"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="product-name text-capitalize pt-2">
                        @item.Name
                    </div>
                    <div class="product-price mb-2">@item.Price</div>
                  <!--  <div class="product-rating">
                        <i class="fas fas fa-star filled"></i>
                        <i class="fas fas fa-star filled"></i>
                        <i class="fas fas fa-star filled"></i>
                        <i class="fas fas fa-star filled"></i>
                        <i class="fas far fa-star unfilled"></i>
                      </div>-->
                </a>
            }
        </div>
    </div>
</section>
<!--End BestSelling-->
<!--Start Features-->
<section class="features container-fluid row py-5 m-0">
    <div class="feature d-flex align-items-center justify-content-center flex-column col-md-6 col-lg-3 p-5 p-lg-0">
        <i class="fas fa-percent fs-2 p-4 text-black-50"></i>
        <h3 class="text-uppercase fs-5 fw-bold mb-0">Special Offers</h3>
        <span class="text-capitalize text-black-50">Shop big save big</span>
    </div>

    <div class="feature d-flex align-items-center justify-content-center flex-column col-md-6 col-lg-3 p-5 p-lg-0">
        <i class="fas fa-paper-plane fs-2 p-4 text-black-50"></i>
        <h3 class="text-uppercase fs-5 fw-bold mb-0">Free delivery</h3>
        <span class="text-capitalize text-black-50">on orders above $99</span>
    </div>

    <div class="feature d-flex align-items-center justify-content-center flex-column col-md-6 col-lg-3 p-5 p-lg-0">
        <i class="fas fa-retweet fs-2 p-4 text-black-50"></i>
        <h3 class="text-uppercase fs-5 fw-bold mb-0">30 days return</h3>
        <span class="text-capitalize text-black-50">policy we offers</span>
    </div>

    <div class="feature d-flex align-items-center justify-content-center flex-column col-md-6 col-lg-3 p-5 p-lg-0">
        <i class="fas fa-rocket fs-2 p-4 text-black-50"></i>
        <h3 class="text-uppercase fs-5 fw-bold mb-0">fastest shipping</h3>
        <span class="text-capitalize text-black-50">Shop big save big</span>
    </div>
</section>
<!--End Features-->
<!--Offers & collections Start-->
<section class="offers row m-0">
    <div class="offer1 d-flex justify-content-center align-items-center flex-column p-5 col-md-6 col-xl-4">
        <div class="offer-text text-white text-center text-uppercase">
            <span class="top">Fashion</span>
            <h3 class="fs-2">Summer & autumn</h3>
            <span class="bottom">Winter Collection</span>
        </div>
    </div>
    <div class="offer2 d-flex justify-content-center align-items-center flex-column p-5 col-md-6 col-xl-4">
        <div class="offer-text text-white text-center text-uppercase">
            <span class="top">Fashion for men</span>
            <h3 class="fs-2">30% off</h3>
            <span class="bottom">Winter Collection</span>
        </div>
    </div>
    <div class="offer3 d-flex justify-content-center align-items-center flex-column p-5 col-md-6 col-xl-4">
        <div class="offer-text text-white text-center text-uppercase">
            <span class="top">Fashion</span>
            <h3 class="fs-2">New fashion styles</h3>
            <span class="bottom">Winter Collection</span>
        </div>
    </div>
</section>
<!--Offers & collections End-->
<!--Start Featured products-->
<section class="featured-products container-fluid pt-5">
    <div class="header text-center py-3">
        <h3 class="fw-bold text-uppercase">Featured products</h3>
        <span class="text-primary">Newest trends from top brands</span>
    </div>
    <div class="row py-5">
        @foreach (var product in Model.products)
        {
            <a asp-controller="Products" style="text-decoration:none;color:black;" asp-action="Details" asp-route-id=@product.ID class="product-card col-md-6 col-lg-3">
           
            <div class="product-img">
                <img class="img-fluid" src=@product.Img_url alt="product">
                <div class="product-buttons">
                        <form method="post" >
                            <button asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.ID" type="submit" class="add-to-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    </form>
                    <form method="post">
                            <button asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-productId="@product.ID" type="submit" class="add-to-wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                    </form>
                </div>
            </div>
            <div class="product-name text-capitalize pt-2">
                @product.Name
            </div>
            <div class="product-price mb-2">@product.Price</div>
     <!--       <div class="product-rating">
                <i class="fas fas fa-star filled"></i>
                <i class="fas fas fa-star filled"></i>
                <i class="fas fas fa-star filled"></i>
                <i class="fas fas fa-star filled"></i>
                <i class="fas far fa-star unfilled"></i>
            </div>
                           -->
            </a>
        }
    </div>
</section>
<!--End Featured products-->
<!--Start Special Discount-->
<section class="discount">
    <div class="row m-0">
        <div class="discount-form col-lg-6 order-2 order-lg-1 text-white text-center d-flex align-items-center justify-content-center flex-column">
            <div class="content">
                <h3 class="text-capitlaize">Get out special discount</h3>
                <div class="text">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, officiis.
                    </p>
                    <p class="m-0">register your email for news and special offers</p>
                </div>
                <div class="form d-flex justify-content-center align-items-center flex-column flex-md-row">
                    <input class="py-2 px-3 border-0 w-75 my-4" type="email" placeholder="E-mail Address">
                    <button class="btn btn-primary text-uppercase text-white ms-2 py-2 w-50">
                        Get Coupon
                        Now
                    </button>
                </div>
            </div>
        </div>
        <div class="our-partners col-lg-6 order-1 d-flex align-items-center justify-content-center py-5 py-lg-0">
            <div class="row gap-5 d-flex justify-content-center align-items-center">
                <img class="col-3 img-fluid" src="~/imgs/partner-1.png" alt="">
                <img class="col-3 img-fluid" src="~/imgs/partner-2.png" alt="">
                <img class="col-3 img-fluid" src="~/imgs/partner-3.png" alt="">
                <img class="col-3 img-fluid" src="~/imgs/partner-4.png" alt="">
            </div>
        </div>
    </div>
</section>