@model RenoshopBee.ViewModels.ProductDetailsVM

@{
    ViewData["Title"] = "Details";
}

<section class="product-details container">
    <!--breadcrumb componant-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb py-5">
            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a href="#">@Html.DisplayFor(x => x.product.Category)</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </nav>
    <!--breadcrumb componant-->
    <div class="product-view row my-5">
        <div class="product-pic col-lg-5">
            <div class="img d-flex justify-content-center">
                <img class="img-fluid" src="@Model.product.Img_url" alt="">
            </div>
        </div>
        <div class="product-description col-lg-7 my-5 my-lg-0">
            <h3 id="productName"> @Html.DisplayFor(m => m.product.Name)</h3>
            <div class="product-info d-flex align-items-center">
                <div class="product-price mb-2 d-inline-block fs-2 pt-2">@Html.DisplayFor(m => m.product.Price)</div>
                <div class="product-rating d-inline-block fs-5 ps-3">
                    <i class="fas fas fa-star filled"></i>
                    <i class="fas fas fa-star filled"></i>
                    <i class="fas fas fa-star filled"></i>
                    <i class="fas fas fa-star filled"></i>
                    <i class="fas far fa-star unfilled"></i>
                </div>
            </div>

            <div class="description lh-lg my-3 pb-5 border-bottom">
                @Html.DisplayFor(m => m.product.Description)
            </div>
             <div class="product-options row mx-1 gap-4">
                <!--<div class="select-size px-0 col-md-5 border rounded">
                    <div class="select-header p-3 d-flex justify-content-between align-items-center">
                        <span class="inner-header">Select size</span>
                        <i class="chevronDown fas fa-chevron-down"></i>
                    </div>
                    <div class="selections-body bg-light d-none">
                        <div class="size p-3 border-bottom">Small</div>
                        <div class="size p-3 border-bottom">Medium</div>
                        <div class="size p-3 border-bottom">Large</div>
                        <div class="size p-3 border-bottom">X Large</div>
                        <div class="size p-3">XX Large</div>
                    </div>
                </div>
                <div class="select-color px-0 col-md-5 border rounded">
                    <div class="select-header p-3 d-flex justify-content-between align-items-center">
                        <span class="inner-header">Select color</span>
                        <i class="chevronDown fas fa-chevron-down"></i>
                    </div>
                    <div class="selections-body bg-light d-none">
                        <div class="color p-3 border-bottom">
                            black
                        </div>
                        <div class="color p-3 border-bottom">
                            white
                        </div>
                        <div class="color p-3 border-bottom">
                            gray
                        </div>
                        <div class="color p-3">
                            orange
                        </div>
                    </div>
                </div>
                <div class="Product-amount col-md-5 border row p-0 align-items-center ms-0">
                    <div class="minus col-3 p-0 text-center py-2 border-end fs-5 fw-bold">-</div>
                    <div class="amount col-6 p-0 text-center py-2 fs-6">1</div>
                    <div class="positive col-3 p-0 text-center py-2 border-start fs-5 fw-bold">+</div>
                 </div>-->
                <div class="ordering-options p-0">
                    <form asp-controller="Home" asp-action="AddToCart" asp-route-id="@Model.product.ID">
                    <button id="addToCartBtn"
                            class="btn btn-primary text-white text-uppercase rounded-0 px-2 py-2 mb-2">
                        <i class="fas fa-shopping-cart"></i>
                        add to cart
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="description-comment my-5">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-0 border-0 bg-light pe-4" id="Description-tab"
                        data-bs-toggle="tab" data-bs-target="#Description-tab-pane" type="button" role="tab"
                        aria-controls="Description-tab-pane" aria-selected="true">
                    Description
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-0 border-0 pe-4" id="Reviews-tab" data-bs-toggle="tab"
                        data-bs-target="#Reviews-tab-pane" type="button" role="tab" aria-controls="Reviews-tab-pane"
                        aria-selected="false">
                    Reviews(<span id="revNumber">@((Model.usersReviews!=null)?Model.usersReviews.Count():0)</span>)
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active  py-3 px-4  bg-light" id="Description-tab-pane" role="tabpanel"
                 aria-labelledby="Description-tab" tabindex="0">
                @Model.product.Description
            </div>
            <div class="tab-pane fade bg-light py-3 px-4" id="Reviews-tab-pane" role="tabpanel"
                 aria-labelledby="Reviews-tab" tabindex="0">
                <h5>
                    <span id="revNumber">2</span> reviews for <span id="productName">@Model.product.Name</span>
                </h5>
                <div class="reviews-section">
                    <div class="reviews row my-4">
                        @if (Model.usersReviews != null)
                        {
                            @foreach (var item in Model.usersReviews)
                            {
                                <div class="review-body col-12 row mb-4">
                                    <div class="profile-img d-none d-md-block col-md-2 col-lg-1 my-3">
                                        <img class="img-fluid" src=@item.Img_Url alt="user">
                                    </div>
                                    <div class="review-content col-12 col-md-10 col-lg-11 row bg-white p-3 ms-1">
                                        <div class="first-row d-flex flex-column flex-md-row order-2 py-1">
                                            <div class="product-rating pe-md-4 border-md-end">
                                                <i class="fas fas fa-star filled"></i>
                                                <i class="fas fas fa-star filled"></i>
                                                <i class="fas fas fa-star filled"></i>
                                                <i class="fas fas fa-star filled"></i>
                                                <i class="fas fas fa-star filled"></i>
                                            </div>
                                            <span id="reviewDate"
                                          class="reviewDate ps-md-4 text-black-50 fst-italic">2022/12/1</span>
                                        </div>
                                        <div class="userName order-1 order-md-2">
                                            <h6 class="text-uppercase pb-0 pb-md-3 pt-3 fw-bold">@item.FirstName @item.LastName </h6>
                                        </div>
                                        <div class="review-text order-3">
                                            @item.ReviewBody
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                                    <h3>There is no Reviews</h3>
                        }
                    </div>
                    <form method="post" asp-action="AddReview">
                    <div class="addNewRev">
                        <div class="header">
                            <h5 class="mb-4">Add a review</h5>
                        </div>
                        <div class="review-form row container">
                            <div class="ratingAndTextarea d-flex align-items-center px-0 my-4 flex-column flex-md-row">
                                <p class="m-md-0 pe-md-5">Your review</p>
                                <div class="rating-choose d-flex ms-5 gap-4">
                                    <span>Your Rating:</span>
                                    <div class="rating-selection d-flex">
                                        <div class="one mx-1 ps-1">
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="two mx-1 ps-1 border-start">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="three mx-1 ps-1 border-start">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="four mx-1 ps-1 border-start">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="five mx-1 ps-1 border-start">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <textarea asp-for="review.ReviewBody" class="reviewTA col-12 p-2 border rounded me-lg-5"></textarea>
                                <input asp-for="review.ProductId" hidden value="@Model.product.ID" />
                                <input type="submit" id="newComment" class="btn btn-primary text-white text-uppercase rounded-0 me-5 py-2 col-6 col-lg-3 mt-3"
                                value="submit"/>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="related-products my-5">
        <div class="header  d-flex justify-content-between">
            <h3>Related Products</h3>
            <div class="navigation d-flex align-items-center">
                <div class="prev-product bg-light px-3 py-1 mx-1">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="next-product bg-primary text-white px-3 py-1 mx-1">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="products-grid row py-5">
            @foreach (var item in Model.products)
            {
                <a style="text-decoration:none;color:black;" asp-action="Details" asp-route-id=@item.ID class="product-card col-md-6 col-lg-3">
                    <div class="product-img">
                        <img class="img-fluid" src="@item.Img_url" alt="product">
                        <div class="product-buttons">
                            <div class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <div class="add-to-wishlist">
                                <i class="fas fa-heart"></i>
                            </div>
                            <div class="return-product">
                                <i class="fas fa-retweet"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-name text-capitalize pt-2">
                        @item.Name

                    </div>
                    <div class="product-price mb-2">@item.Price</div>
                </a>
            }

        </div>
    </div>
</section>